{% load static %}
<!--Shrinal's Requirement to add cart and checkout section-->
<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> GreenThumb </title>
        <title>Home</title>
        <link rel="stylesheet" href="{% static 'store/css/nav.css' %}">
        <link rel="stylesheet" href="{% static 'store/css/about.css' %}">
        <link rel="stylesheet" href="{% static 'store/css/cart.css' %}">
</head>

<body data-page="cart">
<!-- CART Contents Here-->
{% include 'store/partials/navbar.html' %}
<main class="shop-wrap themed">
  <h1 class="shop-title">Your Cart</h1>

  <section class="products-grid" id="cart-items">
  </section>

<div class="payment-card">

  <h2>Total: $<span id="cart-total">0.00</span></h2>

  <label>Select Payment Method</label>

  <!-- CUSTOM DROPDOWN -->
  <div class="custom-select">
<select id="payment-method">
  <option value="card">Credit / Debit Card</option>
  <option value="paypal">PayPal</option>
  <option value="applepay">Apple Pay</option>
</select>
  </div>

  <!-- CARD FORM (SIMULATION) -->
  <div id="card-form" class="payment-form">
    <input type="text" placeholder="Card Number">
    <input type="text" placeholder="Card Holder Name">
    <div class="row">
      <input type="text" placeholder="MM/YY">
      <input type="text" placeholder="CVV">
    </div>
  </div>


  <button class="pay-btn" onclick="simulatePayment()">Pay Now</button>

</div>
<div id="success-popup" class="success-popup">
  <div class="success-box">
    <div class="checkmark">✔</div>
    <h2>Payment Successful!</h2>
    <p>Your order has been placed successfully.</p>
  </div>
</div>
</main>

  <script src="{% static 'store/js/common.js' %}"></script>
  <script src="{% static 'store/js/cart.js' %}"></script>
<script>
  const isLoggedIn = "{{ request.user.is_authenticated }}" === "True";
</script>

</body>

</html>
