<!--Shrinal's Requirement to add cart and checkout section-->
<html>
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> GreenThumb </title>
        <title>Home</title>
        <link rel="stylesheet" href="../css/nav.css">
        <link rel="stylesheet" href="../css/cart.css">
</head>

<body data-page="cart">
<!-- CART Contents Here-->
    <a class="brand" href="{{ home_url }}">Green Thumb</a>
    <a href="{{ home_url }}" data-link="index">Home</a>
    <a href="{{ shop_url }}" data-link="shop">Shop</a>
    <a href="{{ reviews_url }}" data-link="reviews">Reviews</a>
    <a href="{{ about_url }}" data-link="about">About</a>
</a>
      
</div>
<main class="shop-wrap">
  <h1 class="shop-title">Your Cart</h1>

  <section class="products-grid" id="cart-items">
  </section>

  <div class="cart-summary">
      <h2>Total: $<span id="cart-total">0</span></h2>

      <h3>Payment Method</h3>
      <select id="payment-method">
        <option>Credit Card</option>
        <option>Debit Card</option>
        <option>UPI</option>
      </select>

      <br><br>

      <button class="pay-btn" onclick="checkout()">Pay Now</button>
  </div>
</main>

  <script src="../js/cart.js"></script>
  <script src="../js/common.js"></script>

</body>

</html>
